#logo1{
  border-radius: 50%;
}

/* ===== Stats Section ===== */
.stats {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  
  flex-wrap: wrap;
}

.stat {
  /* background: #f9fbfd; */

  padding: 25px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  color: antiquewhite;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  background: radial-gradient(rgb(4, 4, 104),rgb(49, 2, 49));
  /* Fade-in default */
  /* opacity: 0; */
  transform: translateY(30px);
  transition: all 0.9s ease;
}

.stat.show {
  opacity: 1;
  transform: translateY(0);
}

.counter {
  font-size: 2.5rem;
  color: #41abb9;
}
.box{
  display:grid;
  grid-template-columns: repeat(2,1fr);
}

/* ===== Achievement Lists ===== */
.achievements h2 {
  margin-top: 40px;
}

.achievements ul {
  list-style: none;
  padding-left: 0;
}

.achievements li {
  background: #fff;
  margin: 15px 0;
  padding: 15px;
  border-left: 5px solid #0a2540;
  border-radius: 6px;
}

/* ===== Timeline ===== */
.timeline {
  /* background-image: url(bckgrndd.jpg); */
  background: rgba(0,0,0,0.5) url(imagess/bckgrndd.jpg);
  color: wheat;
  border-radius: 1rem;
}

.timeline-item {
  position: relative;
  padding: 20px 30px;
  margin: 20px auto;
  border-left: 3px solid #0a2540;
  max-width: 700px;
 color: black;
  background-color: bisque;
border:6px solid rgb(88, 29, 29);

}

.timeline-item span {
  font-weight: bold;
  color: #0a2540;
}
/* .box1{
  display: flex;
} */
#para2,#image4{
  padding-top: 2rem;
}
.img2 img{
  max-height: 22rem;
  width: 20rem;
}
.img3 img{
  max-height: 22rem;
}
.list img{
height: 20rem;
}
.container{
  background-image: url(imagess/bckgrndblue4.png);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  border-bottom-left-radius: 10px;
  width:35rem ;
  display: block;
  background-repeat: no-repeat;
  
}
.container2{
  background-image: url(imagess/bckgrndblue4.png);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 12px;
  width:35rem ;
  display: block;
  
 
}

.imgbox img{
  height: 20rem;
  object-fit: contain;
}
 .img2 {
   background-image: url(imagess/bckgrndblue4.png);
 }
.sec1{
  /* background-color: bisque; */
  background-image: url(imagess/bckgrndimgbluedark.jpg);
  object-fit:cover;
  
}
.sec2{
  /* background-image: url(bckgrndcloudyblue.jpg); */
  background:linear-gradient(rgba(118, 170, 209, 0.74),rgba(47, 70, 128, 0.855));
 
  
}
#heading1, #heading2 {
  color: #f9fbfd;
}
#para,#para4,#para1,#para2 {
  color: #f9fbfd;
}
.boxxx1:hover {
  animation: flipp 1.5s;
}
.boxxx2:hover{
  animation: rotate 1.5s;
}
.boxxx3:hover{
  animation: rotate2 1.5s;
}
.boxxx4:hover{
  animation: enlarge 1s;
}

#headingg { 
 font-size: 2rem;
 font-weight: 500;
}

@keyframes flipp{
  0%{transform: rotate(90deg);}
  100%{transform: scaleX(-1);}
}
@keyframes rotate{
  0%{transform: rotateY(0);}
  100%{transform: rotateY(90deg);}
}
@keyframes enlarge{
  0%{transform: scale(0.5);}
  100%{transform: scale(1.5);}
}
@keyframes rotate2{
  0%{transform: rotateX(0);}
  100%{transform: rotateX(90deg);}
}
.boxx{
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(11, 7, 229, 0.61);
 margin-right: 3%;
 margin-bottom: 2%
}
#ideabox{
  margin: 3%;
}
.stat:hover {
  transform: translateY(-8px);
  border: 10px;
  box-shadow: 0 6px 18px  rgb(25, 92, 237);
}
