* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
    
}

a {
    color: #38bdf8;
    text-decoration: none;
}
