@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .news-container {
        padding: 15px;
    }

    .newsletter input {
        width: 90%;
    }
}
/* Tablet */
@media (max-width: 992px) {
  .news-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Mobile */
@media (max-width: 600px) {
  .news-container{
    grid-template-columns: 1fr;
  }
}