/* Address */
.address-text p {
    color: rgb(241, 176, 55);
    text-align: center;
    font-size: 30px;
}

.address-item {
    display: flex;
    align-items: flex-start;
}

.location-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 40px;
}

.location-logo {
    width: 28px;
    height: auto;
    margin-right: 10px;
}

.address-item img {
    width: 30px;
    height: 34px;
    margin-right: 10px;
    margin-top: 4px;
}

/* Map */
.map-img {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    border: 5px solid #f1b037;
    padding: 4px;
    background: white;
}

/* Time */
.time {
    text-align: center;
    color: rgb(241, 176, 55);
    font-size: 30px;
}

/* Form */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.lbl {
    color: rgb(241, 176, 55);
    font-size: 20px;
}

.small-text {
    color: rgb(250, 176, 79);
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #cbd5e1;
}

textarea {
    height: 100px;
}

/* Button */
button {
    margin-top: 20px;
    margin-left: 600px;
    padding: 12px;
    width: 20%;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}

.success {
    color: green;
    font-weight: bold;
    margin-top: 15px;
}

.note {
    font-size: 12px;
    color: gray;
}

/* Social */
.social-links {
    display: flex;
    gap: 70px;
    margin-right: 15px;
    font-weight: bold;
}

.social-item {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.social-item img {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.social-item span {
    font-size: 28px;
    color: blue;
}

/* Contact */
.contact-item {
    display: flex;
    align-items: center;
    margin: 10px;
}

.contact-item img {
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.contact-item span {
    font-size: 25px;
    color: rgb(241, 176, 55);
}

/* Special FAQ heading (second h2 style) */
h2 {
    margin-top: 40px;
    border-bottom: 2px solid #ff8c00;
    display: inline-block;
    padding-bottom: 5px;
}

.FAQ-text {
    color: rgb(241, 176, 55);
    text-align: center;
    font-size: 25px;
}
