/* ===== Global Styles ===== */

/* ===== Header ===== */
header {
  background: #03182d;
  color: #fff;
  text-align: center;
  padding: 30px 15px;
}
 .site-logo {
    width: 150px;      /* change this value as needed */
    height: auto;     /* keeps proper ratio */
}

 .fixed-logo {
    position: fixed;
    top: 20px;
    left: 40px;
    z-index: 1005;
    transition: transform 0.3s ease;
    display: inline-block;
}

/* nav-bar */
nav {
    position: fixed;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    padding: 0 30px;
    border-radius: 16px;
    background: rgba(255, 255,255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2), 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
}
nav:before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: url(#wave-distort);
    z-index: -2;
    pointer-events: none;
}
nav > ul {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 55px;
    gap:25px;
    isolation: isolate;
    padding: 0;
    margin: 0;
}
nav > ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
nav > ul::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 10px;
    height: 10px;
    background: #ff4500;
    border-radius: 50%;
    transform: translateX(var(--translate-x, 0)) translateY(var(--translate-y, 0)) rotate(var(--rotate-x, 0deg));
    transition: none;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 0 10px #ff4500, 0 0 20px #ff4500;
}


body {
    font-family: Arial, sans-serif;
    font-size: large;
    text-align: center;
    background: url("/contact webpage/images/contactbg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
}

/* Headings */
h1 {
    color: #0dbbe7e0;
    font-size: 70px;
    text-align: center;
    text-shadow: 0 0 10px rgba(36, 174, 234, 0.942);
}

h2 {
    color: darkorange;
    margin-top: 30px;
    font-size: 48px;
    text-decoration: underline;
}

h3 {
    font-size: 25px;
}

/* Tagline */
.tagline {
    text-align: center;
    color: #acd50bae;
    font-size: 30px;
}

/* Buttons */
button {
    background-color: orange;
    color: white;
    border: none;
    padding: 6px 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: darkorange;
}

/* Select */
select {
    padding: 5px;
    margin-bottom: 10px;
}

/* ===== Footer ===== */
footer {
  background: hsla(221, 93%, 21%, 0.418);
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}