/* ===== Responsive Design ===== */

@media (max-width: 768px) {
    .project-grid {
        flex-direction: column;
        height: auto;
    }

    .fixed-logo {
        left: 20px;
        top: 25px; /* Aligns better with the hamburger menu */
    }

    .fixed-logo img {
        width: 25vw; 
        min-width: 90px;
        max-width: 120px;
    }

    .card-info,
    .card-img {
        width: 100%;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 32px;
    }
}
